@font-face{
src:url("https://jinwoo-choi.github.io/fonts/Hanna.ttf");
font-family: 'Hanna';
}

@font-face{
src:url("https://jinwoo-choi.github.io/fonts/NanumGothic.ttf");
font-family: 'NanumGothic';
}

/*/////////////////////////////////////////////*/

body {
  background-color: white;
}
h1 {
  text-shadow: 7px 7px 10px blue;
  text-align:center;
  color: skyblue;
  font-family: 'Hanna';
  font-size: 1000%;
}
p {
  text-align:center;
  color: black;
  font-family: 'NanumGothic';
  font-size: 500%;
}